<app-navbar></app-navbar>
<div class="container">
  <app-head-cta></app-head-cta>
  <app-secondary-navigation></app-secondary-navigation>
  <app-jumbotron></app-jumbotron>

<!-- start main body-->
  <div class="container">

    <!-- main body homepage start -->
    <app-main-body></app-main-body>
    <!-- main body homepage end -->

    <!-- start derbigum advantages section -->
    <app-dbgadvantages></app-dbgadvantages>
    <!-- end derbigum advantages section -->

    <!-- start over derbigum panel -->
    <app-over-derbigum></app-over-derbigum>
    <!-- end over derbigum panel -->

    <!-- begin reference panel-->
    <app-reference-panel></app-reference-panel>
    <!-- end reference panel-->

    <!-- Find derbigum specialist Start -->
    <app-find-dac></app-find-dac>
    <!-- Find Derbigum Specialist End -->

    <!-- Add latest blog articles start -->
    <app-blog></app-blog>
    <!-- Add latest blog articles end -->

  </div>
</div>
<app-footer></app-footer>