<!-- Start Over Derbigum-->
<section id="overDerbigum">
  <div class="jumbotron text-center hoverable p-4 py-5 grey lighten-3 flex-center">

      <!-- Grid row -->
      <div class="row">
    
        
        <!-- Grid column -->
        <div class="col-md-6 text-md-left ml-3 mt-3">
    
          <!-- Excerpt -->
    
          <h4 class="h4 mb-4">Over Derbigum</h4>
    
          <p class="font-weight-normal">Derbigum is al meer dan 30 de referentie voor duurzame oplossingen voor het beschermen van gebouwen tegen natuurelementen. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus metus eu orc.</p>
            <hr>
            <p>Onze Missie</p>
            <p>Toepassingen</p>
            <p>Referenties</p>
            <p>Werken bij Derbigum</p>
        </div>

        <div class="col-md-5 ml-10 mt-3 text-right">
            <video preload= "true" controls loop = "loop" muted width="100%">
                <source src = "\assets\video\Derbigum Corporate presentation.mp4" type = "video/mp4">
            </video>
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
    
    </div>
</section>
<!-- end about derbigum Section-->