    <!-- why derbigum -->
    <section class="text-center">

      <!--Section heading-->
      <h2 class="h1 py-5 font-weight-bold">Waarom kies je beter voor Derbigum?</h2>
      <!--Section description-->
      <p class="px-5 mb-5 pb-3 lead black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam.</p>

      <!--Grid row-->
      <div class="row">

          <!--Grid column-->
          <div class="col-md-4">
            <i class="fas fa-cloud-sun fa-3x red-text"></i>
            <h5 class="font-weight-bold mt-3">Levenslang genieten van je dak</h5>
            <p class="black-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
              aperiam
              minima assumenda
              deleniti hic.
            </p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-4">
            <i class="fas fa-thumbs-up fa-3x cyan-text"></i>
            <h5 class="font-weight-bold mt-3">Kwaliteit van het hoogste niveau</h5>
            <p class="black-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
              aperiam
              minima assumenda
              deleniti hic.
            </p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-4">
            <i class="far fa-comments fa-3x orange-text"></i>
            <h5 class="font-weight-bold mt-3">Service en ontzorgen</h5>
            <p class="black-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
              aperiam
              minima assumenda
              deleniti hic.
            </p>
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
        <div class="row">
           <hr>
        </div>
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4">
              <i class="fab fa-envira fa-3x green-text"></i>
              <h5 class="font-weight-bold mt-3">Beperk je ecologische voetafdruk</h5>
              <p class="black-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
                aperiam
                minima assumenda
                deleniti hic.
              </p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4 mt-5">
                <button type="button" mdbBtn color="light" mdbWavesEffect>Ontdek er alles over</button>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4">
              <i class="far fa-money-bill-alt fa-3x blue-text"></i>
              <h5 class="font-weight-bold mt-3">Prijs kwaliteit</h5>
              <p class="black-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
                aperiam
                minima assumenda
                deleniti hic.
              </p>
            </div>
            <!--Grid column-->
    
          </div>
          <hr>
          <!--Grid row-->
    </section>
    <!--End why derbigum-->