<app-pro-navbar></app-pro-navbar>
<div class="container">
  <app-pro-headcta></app-pro-headcta>
  <app-pro-second-navbar></app-pro-second-navbar>
  <app-pro-jumbotron></app-pro-jumbotron>

<!-- start main body-->
  <div class="container">
    <!-- start choose pro type -->
    <app-professional-type></app-professional-type>
    <!-- end choose pro type -->
    
    <!-- begin reference panel-->
    <app-pro-dbg-advantages></app-pro-dbg-advantages>
    <!-- end reference panel-->


    <!-- Find derbigum specialist Start -->
    <app-find-dealer></app-find-dealer>
    <!-- Find Derbigum Specialist End -->

    <!-- Add latest blog articles start -->
    <!-- <app-blog></app-blog> -->
    <!-- Add latest blog articles end -->

  </div>
</div>
<app-footer></app-footer>