.little_margin {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: center;
}

.mar-top {
    margin-top: 10px;
}

.accordion .card .card-header {
    color: #626262;
    padding: 1rem 1.5rem;
    background:#E5E5E5;
    border-bottom: 0;
    cursor: pointer;
}

.hidden {
    display:none;
}

.img-fluid {
    width: 25%;

}